<div class = "user-details">
        <div class="picture">
            <img src = "/common/assets/user-dp.png">
        </div>
        <div class="details">
            <div class="name">
                <a>{{current_user.name}}</a>
            </div>
            <div class="idnum">
                <a>{{current_user.id}}</a>
            </div>
            <div class="occupation">
                <a>{{current_user.type}}</a>
            </div>
        </div>
</div>
<div class="selection">
    <div class="option">
        <div class="lab-picture">
            <img src = "/common/assets/chem-lab.png">
        </div>
        <div class="lab-label">
            <button onclick = "window.location.href = '/slot-reservation/Chemistry Laboratory'" >Chemistry Laboratory (Velasco - 1) </button>
        </div>
    </div>
    <div class="option">
        <div class="lab-picture">
            <img src = "/common/assets/com-lab.png">
        </div>
        <div class="lab-label">
            <button onclick = "window.location.href = '/slot-reservation/Computer Laboratory'" >Computer Laboratory (Gokongwei - 3) </button>
        </div>
    </div>
    <div class="option">
        <div class="lab-picture">
            <img src = "/common/assets/ee-lab.png">
        </div>
        <div class="lab-label">
            <button onclick = "window.location.href = '/slot-reservation/Electronics Laboratory'" >Electronics Laboratory (Gokongwei - 4)</button>
        </div>
    </div>
</div>
<div class="footer">
    <div class="return">
        {{#if isStudent}}
            <button onclick="window.location.href = '/user-profile/{{current_user.id}}'" >Return</button>
        {{/if}}
        {{#if isLabTech}}
            <button onclick="window.location.href = '/lab-profile/{{current_user.id}}'" >Return</button>
        {{/if}}
        
    </div>
    <div class="logo">
        <div class="logo-image">
            <img src = "/common/assets/logo-flask.png">
        </div>
        <div class="text">
            <h1>ANIMO LABS</h1>
        </div>
        
    </div>
</div>
