<div class="main-container">
    {{>lab-sidebar}}
    <div class="right-side">
        <div class = "box" id = "upcoming-reservations">
            <div class = "box-header">
                <h1 class>UPCOMING RESERVATIONS</h1>
            </div>
            <div class="box-content">
                {{#each upcomingReservations}}
                <div class="mini-box">
                    <div><strong>Reservation #:</strong> {{reservation_id}}</div>
                    <div><strong>Laboratory:</strong> {{laboratory}}</div>
                    <div><strong>Time:</strong> {{start_time}} - {{end_time}}</div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="lab-reservation hide" id="edit-profile">
            <div class="box-header">
                <h1>YOUR PROFILE</h1>
            </div>
            <div class="edit-profile-picture-parent">
                <div class="edit-profile-picture">
                    <img id="profile-image" src="data:image/png;base64,{{currentUser.image}}" alt="User Image">
                </div>
                <div class="edit-pen-content-profile-no">  
                    <label class="image-upload" for="image-upload-file">
                        <input type="file" id="image-upload" accept="image/*" style="display: none;">
                        <img src="/common/assets/edit-pen.png" class="edit-pen-image" alt="Edit">
                    </label>
                </div>
            </div>
            <div class="profile">
                <div class="text-name">
                    <span class="display-name">{{currentUser.name}}</span>
                    <input type="text" class="edit-name hide" placeholder="Enter your new name">
                    <div class="edit-pen-content-profile">
                        <img src="/common/assets/edit-pen.png" class="edit-pen-name" alt="Edit">
                    </div>
                </div>
                <div class="text-student">
                    <a>Lab Technician</a>
                </div> 
                <div class="text-idnumber">
                    <a>{{currentUser.id}}</a>
                </div> 
                <div class="add-description">
                    <span class="display-description">{{currentUser.desc}}</span>
                    <textarea class="edit-description hide" placeholder="Enter your new description"></textarea>
                    <div class="edit-pen-content-profile">
                        <img src="/common/assets/edit-pen.png" class="edit-pen-description" alt="Edit">
                    </div>
                </div>
                <div class="edit-password-section">
                    <span class="change-password">Change Password</span>
                    <div class="edit-pen-content-profile">
                        <img src="/common/assets/edit-pen.png" class="edit-pen-password" alt="Edit">
                    </div>
                    <input type="text" class="edit-old-password hide" placeholder="Enter your old password">
                    <input type="text" class="edit-new-password hide" placeholder="Enter your new password">
                </div>
            </div>
            <div class="user-footer">
                <button id="update-profile">Update</button>
            </div>
        </div>
        <div class="result">
            <div class="result-content">
                <span class="close-button">&times;</span>
                <p id="result-message"> 

                </p>
            </div>
        </div>
        <div class = "lab-reservation hide" id = "accept">
            <div class = "box-header">
                <h1 class>Accept Walk-in</h1>
            </div>
            <div class="input-info">
                <label id="name">Name</label>
                <input type="text" id="name" name="name">
                <label id="id">ID</label>
                <input type="text" id="id" name="id" maxlength="6">
                <select id="laboratry" name="laboratry">
                    <option value="">Select Laboratory</option>
                    <option value="Chemistry Lab">Chemistry Laboratory</option>
                    <option value="Computer Lab">Computer Laboratory</option>
                    <option value="Electronics Lab">Electronics Laboratory</option>
                </select>
                <select id="room" name="room">
                    <option value="">Select Laboratory First</option>
                </select>
                <input type="text" id="end-time" placeholder="1100 or 1800" maxlength="4">
                <button id="accept-walk-in">Reserve</button>
            </div>
        </div>
        <div class = "lab-reservation hide" id = "view-reservation">
            <div class = "box-header">
                <h1 class>View Reservation</h1>
            </div>
            <div class="filter-content" id="filter-form">
                <form>
                    <input type="text" class="student-id" placeholder="Student ID: 12234567" maxlength="6">
                    <select id="select_laboratory" name="laboratory">
                        <option value="">Select Laboratory</option>
                        {{#each lab}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                    <select id="select_start-time" name="start-time">
                        <option value="">Start Time</option>
                        {{#each startTime}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                    <select id="select_end-time" name="end-time">
                        <option value="">End Time</option>
                        {{#each endTime}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </form>
            </div>
            <div class = "box-content" id="reservation-list-container">
                {{#each viewReservation}}
                <a href="/reservation-details?reservation_id={{reservation_id}}&student_id={{student_id}}&laboratory={{laboratory}}&time_start={{time_start}}"> 
                    <div class = "mini-box-click">
                        <div><strong>Student:</strong> {{name}}</div>
                        <div><strong>Student ID:</strong> {{student_id}}</div>
                        <div><strong>Reservation #:</strong> {{reservation_id}}</div>
                        <div><strong>Laboratory:</strong> {{laboratory}}</div>
                        <div><strong>Time:</strong> {{start_time}} - {{end_time}}</div>
                    </div>
                </a> 
                {{/each}}
            </div>
        </div> 
        <div class = "lab-reservation hide" id = "contact">
            <div class = "box-header">
                <h1 class>CONTACT STUDENT</h1>
            </div>
            <div class = "contact-content">
                <div class = "to-field">
                    <form method = "get">
                        <label>To:</label>
                        <select name="technician">
                            {{#each studentUsers}}
                                    <option value="{{user_id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </form>
                </div>
                <div class = "message-field">
                    <textarea id="message" placeholder="Enter your message here"></textarea>
                </div>
                <div class = "send-field">
                    <input type ="button" value ="send" id = "send-button" onclick = "messageModal()">
                </div>
                <div id="send-modal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p>Message sent!</p>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>