<div class = "user-details">
    <div class="picture">
        <img src = "/common/assets/user-dp.png">
    </div>
    <div class="details">
        <div class="name">
            <a>{{current_user.name}}</a>
        </div>
        <div class="idnum">
            <a>{{current_user.id}}</a>
        </div>
        <div class="occupation">
            <a>{{current_user.type}}</a>
        </div>
    </div>
</div>
<div class="receipt">
    <div class="receipt-container">
        <div class="receipt-body">
            <div class="receipt-title">
                <a>Reservation Sucess! 🎉<a>
            </div>
            <hr>
            <div class="receipt-details">
                <div class="reservation-details">
                    <div class = detail>
                        <b>Reservation #: </b>
                        <a id="reservation-number">{{last.reservation_id}}</a>
                    </div>
                    <div class="detail">
                        <b>Laboratory: </b>
                        <a id = "laboratory-type">{{last.laboratory}}</a>
                    </div>
                    <div class="detail">
                        <b>Seats reserved: </b>
                        <a id = "seats-reserved">
                            {{#each last.seat_ids}}
                                {{this}}
                            {{/each}}
                        </a>
                    </div>
                    <div class="detail">
                        <b>Time: </b>
                        <a id = "time">{{last.start_time}} - {{last.end_time}}</a>
                    </div>
                </div>
                <div class="equipment-details">
                    <b>Equipment Reserved:</b>
                    <ul>
                    {{#each last.equipment}}
                        <div class="equipment">
                            <li><span id="item">{{this}}</span></li>
                        </div>
                    {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="return to-main-menu">
        <button onclick = "window.location.href = '/user-profile/{{current_user.id}}'">Return to main menu</button>
    </div>
    <div class="logo">
        <div class="logo-image">
            <img src = "/common/assets/logo-flask.png">
        </div>
        <div class="text">
            <h1>ANIMO LABS</h1>
        </div>
        
    </div>
</div>