<div class = "user-details">
    <div class="picture">
        <img src = "/common/assets/user-dp.png">
    </div>
    <div class="details">
        <div class="receipt-title">
            <a>Student Information<a>
        </div>
        <div class="name">
            <a>{{details.name}}</a>
        </div>
        <div class="idnum">
            <a>{{details.student_id}}</a>
        </div>
        <div class="occupation">
            <a>Student</a>
        </div>
    </div>
</div>
<div class="receipt">
    <div class="receipt-container">
        <div class="receipt-body">
            <div class="receipt-title">
                <a>Details of the Reservation<a>
            </div>
            <hr>
            <div class="receipt-details">
                <div class="reservation-details">
                    <div class = detail>
                        <b>Reservation #: </b>
                        <a id="reservation-number">{{details.reservation_id}}</a>
                    </div>
                    <div class="detail">
                        <b>Laboratory: </b>
                        <a id = "laboratory-type">{{details.laboratory}}</a>
                    </div>
                    <div class="detail">
                        <b>Room: </b>
                        <a id = "room">{{details.room}}</a>
                    </div>
                    <div class="detail">
                        <b>Seats reserved: </b>
                        <a id = "seats-reserved">{{details.seat_ids}}</a>
                    </div>
                    <div class="detail">
                        <b>Time: </b>
                        <a id = "time">{{details.start_time}} - {{details.end_time}}</a>
                    </div>
                </div>
                <div class="equipment-details">
                    <b>Equipment Reserved:</b>
                    <ul>
                    {{#each details.equipment}}
                        <div class="equipment">
                            <li><span id="item">{{this}}</span></li>
                        </div>
                    {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    {{#if isStudent}}
        <div class="return to-main-menu">
        <button onclick = "window.location.href = '/user-profile/{{current_user.id}}'">Return to main menu</button>
        </div>
        <div class="return to-main-menu" >
            <button onclick = "window.location.href = '/update-reservation/{{details.laboratory}}/{{details.reservation_id}}'">Edit Reservation</button>
        </div>
        <div class="return to-main-menu">
            <button onclick = "window.location.href = '/user-profile/{{current_user.id}}'">Remove Reservation</button>
        </div>
    {{/if}}
    {{#if isLabTech}}
        <div class="return to-main-menu">
        <button onclick = "window.location.href = '/lab-profile/{{current_user.id}}'">Return to main menu</button>
        </div>
        <div class="return to-main-menu" >
            <button onclick = "window.location.href = '/lab-selection'">Edit Reservation</button>
        </div>
        <div class="return to-main-menu">
            <button onclick = "window.location.href = '/lab-profile/{{current_user.id}}'">Remove Reservation</button>
        </div>
    {{/if}}
    

    <div class="logo">
        <div class="logo-image">
            <img src = "/common/assets/logo-flask.png">
        </div>
        <div class="text">
            <h1>ANIMO LABS</h1>
        </div>
        
    </div>
</div>