<div class="main-container">
    {{>sidebar}}
    <div class = "right-parent">
            <div class = "box-small" id = "upcoming-reservations">
                <div class = "box-header">
                    <h1 class>UPCOMING RESERVATIONS</h1>
                </div>
                <div class = "box-content">
                    {{#each reservationData}}
                    <div class="mini-box">
                        <div><strong>Reservation #:</strong> {{this.reservation_id}}</div>
                        <div><strong>Laboratory:</strong> {{this.laboratory}}</div>
                        <div><strong>Time:</strong> {{this.start_time}} - {{this.end_time}}</div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class = "box-small" id = "recent-activity">
                <div class = "box-header">
                    <h1 class>RECENT ACTIVITY</h1>
                </div>
                <div class = "box-content">
                    <div class = "mini-box">
                        <div><strong>Reservation #:</strong> 123123</div>
                        <div><strong>Laboratory:</strong> Chemistry Lab</div>
                        <div><strong>Time:</strong> 11:00 AM - 12:00 PM</div>
                    </div>
                </div>
            </div>
            <div class = "box-big hide" id = "view-reservation">
                <div class = "box-header">
                    <h1 class>VIEW RESERVATION</h1>
                </div>
                <div class="filter-content">
                    <select id="laboratry" name="laboratry">
                        <option value="">Select Laboratory</option>
                        <option value="Chemistry Lab">Chemistry Lab</option>
                        <option value="Computer Lab">Computer Lab</option>
                        <option value="Electronics Lab">Electronics Lab</option>
                    </select>
                    <select id="start-time" name="start-time">
                        <option value="">Start Time</option>
                    </select>
                    <select id="end-time" name="end-time">
                        <option value="">End Time</option>
                    </select>
                </div>
                <div class = "box-content"  id="content">
                    {{#each reservationData}}
                    <a href="/reservation-details?reservation_id={{reservation_id}}&name={{name}}&laboratory={{laboratory}}&time_start={{time_start}}"> 
                        <div class = "mini-box-click">
                            <div><strong>Student:</strong> {{name}}</div>
                            <div><strong>Student ID:</strong> 12345678</div>
                            <div><strong>Reservation #:</strong> {{this.reservation_id}}</div>
                            <div><strong>Laboratory:</strong> {{this.laboratory}}</div>
                            <div><strong>Time:</strong> {{this.start_time}} - {{this.end_time}}</div>
                        </div>
                    </a>
                    {{/each}}
                </div>
                <div id="pagination">
                    <button id="prevButton" onclick="prevPage()">Previous</button>
                    <span id="currentPage">Page 1</span>
                    <button id="prevButton" onclick="nextPage()">Next</button>
                </div>
            </div>
            <div class = "box-big hide" id = "contact">
                <div class = "box-header">
                    <h1 class>CONTACT LAB TECHNICIAN</h1>
                </div>
                <div class = "contact-content">
                    <div class = "to-field">
                        <form method = "get">
                            <label>To:</label>
                            <select name="technician">
                                <option value="technician1">Sir Computer</option>
                                <option value="technician2">Sir Chemistry</option>
                                <option value="technician3">Sir Electronics</option>
                            </select>
                        </form>
                    </div>
                    <div class = "message-field">
                        <textarea id="message" placeholder="Enter your message here"></textarea>
                    </div>
                    <div class = "send-field">
                        <input type ="button" value ="send" id = "send-button" onclick = "messageModal()">
                    </div>
                    <div id="send-modal" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p>Message sent!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "box-big hide" id = "edit-profile">
                <div class = "box-header">
                    <h1 class>YOUR PROFILE</h1>
                </div>
                <div class = "edit-profile-picture-parent">
                    <div class="edit-profile-picture">
                        <img src = "/common/assets/user-dp.png">
                    </div>
                    <div class="edit-pen-content-profile">
                        <input type="file" id="image-upload" accept="image/*">
                        <label for="image-upload">
                            <img src="/common/assets/edit-pen.png" class="edit-pen" alt="Edit">
                        </label>
                    </div>
                </div>
                <div class="profile">
                    <div class="text-name">
                        <span class="display-name">Lab Admin</span>
                        <input type="text" class="edit-name hide">
                        <div class="edit-pen-content-profile">
                            <img src="/common/assets/edit-pen.png" class="edit-pen-name" alt="Edit">
                        </div>
                    </div>
                    <div class="text-student">
                        <a>Lab Technician</a>
                    </div> 
                    <div class="text-idnumber">
                        <a>12274534</a>
                    </div> 
                    <div class="add-description">
                        <span class="display-description">Enter your description</span>
                        <textarea class="edit-description hide" placeholder="Enter your description"></textarea>
                        <div class="edit-pen-content-profile">
                            <img src="/common/assets/edit-pen.png" class="edit-pen-description" alt="Edit">
                        </div>
                    </div>
                </div>
                

            </div>
            <div id="deactivate-modal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                <p>Are you sure you want to <strong>deactivate your account?</strong></p>
                <p>Deactivating your account will <strong>render all of your reservations invalid</strong> and will remove them from the reservation list.</p>
                <input type="checkbox" name="confirm" id="confirm" onclick="changeColor()">I understand and want to push through with the deactivation</input><br/>
                
                <div class ="button-container">
                    <div class = "button-child"><input type ="button" value ="Cancel" id = "cancel-button"></div>
                    <div class = "button-child"></div>
                    <div class = "button-child"><input type ="button" value ="Deactivate" id = "confirm-button" onClick="window.open('Login.html');" disabled ></div>
                </div>
                </div>
            </div>
    </div>
</div>

    